# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Backend
backend/target/
backend/*.class
backend/*.jar

# Frontend
frontend/frontend/node_modules/
frontend/frontend/dist/
frontend/frontend/.vite/
**/node_modules/

# Env
.env
*.log
